.root {
    -fx-font-family: Open Sans;
}

.helpScreen #titleLabel {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.categoryBox #categoryLabel {
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-text-fill: steelblue;
}