.root {
    -fx-font-family: Open Sans;
}

.list-view {
    -fx-background-color: white;
}

.list-cell:empty {
    visibility:hidden;
    -fx-opacity: 0;
}

.helpScreen #titleLabel {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.categoryBox #categoryLabel {
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-text-fill: steelblue;
}