/* @@author A0121597B */
/*
 * ================================================================
 * Font Declarations
 * ================================================================
 */
@font-face {
	font-family: "Helvetica Neue";
	font-style: bold;
	src: url("/procrastinate/ui/fonts/helvetica-neue-bold.ttf");
}

@font-face {
	font-family: Titillium;
	font-style: normal;
	src: url("/procrastinate/ui/fonts/titillium/Titillium-Regular.otf");
}

@font-face {
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	src: url("/procrastinate/ui/fonts/FontAwesome.otf");
}

/*
 * ================================================================
 * MainWindow Styling
 * ================================================================
 */
.root {
}

.mainWindow {
    -fx-background-color: transparent;
    -fx-focus-color: #365fac;
    -fx-accent: #365fac;
}

.mainWindow #mainBorderPane {
  -fx-effect: dropshadow( gaussian, derive(lightslategray, -20%), 10, 0, 3, 3);
  -fx-alignment: center;
  -fx-border-color: white;
  -fx-border-width: 5;
  -fx-border-insets: 10;
  -fx-border-radius: 6;
}

.mainWindow #bottom {
    -fx-font-family: Titillium;
    -fx-background-color: white;
    -fx-padding: 2 10 2 10;
    -fx-spacing: 2;
}

.mainWindow #userInputField {
    -fx-font-size: 18px;
    -fx-text-fill: #314976;
}

.mainWindow #statusLabel {
    -fx-font-size: 16px;
}

.mainWindow #top {
    -fx-background-color: white;
}

/*
 * ================================================================
 * ImageOverlay Styling
 * ================================================================
 */
.imageOverlay #container {
    -fx-alignment: center;
    -fx-padding: 10 0 0 0;
    -fx-spacing: 10;
}

.imageOverlay #overlay {
    -fx-background-color: white;
    -fx-opacity: 0.8;
}

.imageOverlay #titleLabel {
    -fx-font-family: "Helvetica Neue";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.imageOverlay #subtitleLabel {
    -fx-font-family: Titillium;
    -fx-font-size: 14px;
}

/*
 * ================================================================
 * CenterScreen Styling
 * ================================================================
 */
.centerScreen {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-spacing: 5;
}

#mainVBox {
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 400 400;
}

/*
 * ================================================================
 * CategoryBox Styling
 * ================================================================
 */
.categoryBox #categoryLabel {
    -fx-font-family: "Helvetica Neue";
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-text-fill: #395c9c;
}

.categoryBox #categoryVBox {
    -fx-padding: 0 0 0 5;
}

/*
 * ================================================================
 * SubcategoryBox Styling
 * ================================================================
 */
.subcategoryBox #subcategoryLabel {
    -fx-font-family: "Helvetica Neue";
	-fx-font-weight: bold;
	-fx-font-size: 16px;
	-fx-text-fill: #455a64;
}

.subcategoryBox #subcategoryVBox {
    -fx-padding: 2 0 10 0;
}

/*
 * ================================================================
 * TaskEntry Styling
 * ================================================================
 */
.taskEntry {
    -fx-font-family: Titillium;
    -fx-font-size: 16px;
    -fx-padding: 2 0 3 0;
}

.taskEntry #lineNum {
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0 5 0 15;
}

.taskEntry #description {
    -fx-wrap-text: true;
}

.taskEntry #time {
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 25;
    -fx-wrap-text: true;
}

/*
 * ================================================================
 * TitleBar Styling
 * ================================================================
 */

.titleBar {
    -fx-background-color: white;
    -fx-font: 16px FontAwesome;
}

.titleBar #title {
	-fx-font-family: "Helvetic Neue";
	-fx-font-size: 17px;
	-fx-font-weight: bold;
}

.titleBar #close {
    -fx-label-padding: 0 0 0 10;
}
