/*
 * ================================================================
 * Font Declarations
 * ================================================================
 */
@font-face {
	font-family: BebasNeue;
	font-weight: 400;
	font-style: normal;
	src: url("/procrastinate/ui/fonts/bebas/BebasNeue-Regular.otf");
}

@font-face {
	font-family: BebasNeue Bold;
	font-weight: 700;
	font-style: italic;
	src: url("/procrastinate/ui/fonts/bebas/BebasNeue-Bold.otf");
}

@font-face {
	font-family: Titillium;
	font-style: normal;
	src: url("/procrastinate/ui/fonts/titillium/Titillium-Regular.otf");
}

@font-face {
	font-family: LiberationMono;
	font-style: normal;
	src: url("/procrastinate/ui/fonts/liberation_mono/LiberationMono-Regular.ttf");
}

@font-face {
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	src: url("/procrastinate/ui/fonts/FontAwesome.otf");
}

/*
 * ================================================================
 * MainWindow Styling
 * ================================================================
 */
.root {
}

.mainWindow {
    -fx-background-color: transparent;
}

.mainWindow #mainBorderPane {
  -fx-effect: dropshadow( gaussian, derive(lightslategray, -20%), 10, 0, 3, 3);
  -fx-alignment: center;
  -fx-border-color: white;
  -fx-border-width: 5;
  -fx-border-insets: 10;
  -fx-border-radius: 6;
}

.mainWindow #bottom {
    -fx-font-family: Titillium;
    -fx-background-color: white;
    -fx-padding: 2 10 2 10;
    -fx-spacing: 2;
}

.mainWindow #userInputField {
    -fx-font-size: 18px;
}

.mainWindow #statusLabel {
    -fx-font-size: 16px;
}

.mainWindow #top {
    -fx-background-color: white;
}

/*
 * ================================================================
 * HelpScreen Styling
 * ================================================================
 */
.helpScreen #container {
    -fx-alignment: top-center;
    -fx-padding: 100 0 0 0;
    -fx-spacing: 10;
}

.helpScreen #overlay {
    -fx-background-color: white;
    -fx-opacity: 0.5;
}

.helpScreen #titleLabel {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

/*
 * ================================================================
 * MainScreen Styling
 * ================================================================
 */
.mainScreen {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-spacing: 5;
}

#mainVBox {
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}

/*
 * ================================================================
 * CategoryBox Styling
 * ================================================================
 */
.categoryBox #categoryLabel {
    -fx-font-family: BebasNeue Bold;
	-fx-font-weight: 700;
	-fx-font-style: italic;
	-fx-font-size: 20px;
	-fx-text-fill: #365fac;
}

.categoryBox #categoryVBox {
    -fx-padding: 0 0 0 20;
}

/*
 * ================================================================
 * TaskEntry Styling
 * ================================================================
 */
.taskEntry {
    -fx-font-family: Titillium;
    -fx-font-style: italic;
    -fx-font-size: 16px;
}

.taskEntry #lineNum {
    -fx-font-family: LiberationMono;
    -fx-font-size: 14px;
    -fx-padding: 0 5 0 0;
}

.taskEntry #description {
    -fx-wrap-text: true;
}

.taskEntry #time {
    -fx-font-family: LiberationMono;
    -fx-font-size: 13px;
    -fx-padding: 0 0 0 25;
}

/*
 * ================================================================
 * TitleBar Styling
 * ================================================================
 */

.titleBar {
    -fx-spacing: 10;
    -fx-background-color: white;
    -fx-font: 16px FontAwesome;
}

.titleBar #close {
    -fx-label-padding: 0 0 0 0;
}
